.container{
    margin-top: 30px;
}
input, select{
    width: 100%;
    margin: 10px 5px;
    padding: 5px;
}
Button{
    margin: 10px 5px;
    padding: 5px;
}
select:hover{
    background-color: rgb(0, 105, 210);
    color: white;
}